USE [master]
GO
/****** Object:  Database [QLNhaHang_BTL]    Script Date: 5/4/2026 10:34:15 PM ******/
CREATE DATABASE [QLNhaHang_BTL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNhaHang_BTL', FILENAME = N'D:\Program\SqlData\QuanLyNhaHang\QLNhaHang_BTL.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLNhaHang_BTL_log', FILENAME = N'D:\Program\SqlData\QuanLyNhaHang\QLNhaHang_BTL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNhaHang_BTL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNhaHang_BTL]
GO
/****** Object:  Table [dbo].[NguyenLieu]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieu](
	[NL_ID] [int] IDENTITY(1,1) NOT NULL,
	[TenNguyenLieu] [nvarchar](100) NULL,
	[GiaTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[NL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongThuc]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongThuc](
	[CT_ID] [int] IDENTITY(1,1) NOT NULL,
	[Product_ID] [int] NULL,
	[NL_ID] [int] NULL,
	[SoLuong] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[cau3]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[cau3] 
(
	@id int
)
returns table
as
return
	select CongThuc.NL_ID, TenNguyenLieu
	from CongThuc
	inner join NguyenLieu on CongThuc.NL_ID = NguyenLieu.NL_ID
	where CongThuc.Product_ID = @id
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[DH_ID] [int] IDENTITY(1,1) NOT NULL,
	[KH_ID] [int] NULL,
	[Ban_ID] [int] NULL,
	[KM_ID] [int] NULL,
	[GioVao] [datetime] NULL,
	[GioRa] [datetime] NULL,
	[TongTien] [money] NULL,
	[NV_ID] [int] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [bit] NULL,
	[VanChuyen] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[CTHD_ID] [int] IDENTITY(1,1) NOT NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [money] NULL,
	[DH_ID] [int] NOT NULL,
	[Product_ID] [int] NULL,
	[Ghichu] [nvarchar](500) NULL,
	[GiamGia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CTHD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[cau4]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[cau4]
(
	@id int,
	@thang int,
	@nam int
)
returns table
as
return
	
	select Product_ID, SUM(ThanhTien) as DoanhThu, SUM(ThanhTien) - 
	(select SUM(SoLuong*GiaTien)
	from NguyenLieu
	inner join CongThuc on CongThuc.NL_ID = NguyenLieu.NL_ID
	where @id = CongThuc.Product_ID
	group by CongThuc.Product_ID) as LoiNhuan
	from ChiTietHoaDon
	inner join DonHang on ChiTietHoaDon.DH_ID = DonHang.DH_ID
	where @id = Product_ID and @thang = month(DonHang.GioRa) and @nam = YEAR(DonHang.GioRa)
	group by ChiTietHoaDon.Product_ID
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaiVietChuyenNha]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiVietChuyenNha](
	[BaiViet_ID] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](200) NOT NULL,
	[Slug] [varchar](220) NULL,
	[TomTat] [nvarchar](600) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[PathPhoto] [nvarchar](500) NULL,
	[AltText] [nvarchar](200) NULL,
	[TacGia] [nvarchar](100) NULL,
	[NgayDang] [datetime] NOT NULL,
	[NoiBat] [bit] NOT NULL,
	[SapXep] [int] NOT NULL,
	[HienThi] [bit] NOT NULL,
	[Remove] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_BaiVietChuyenNha] PRIMARY KEY CLUSTERED 
(
	[BaiViet_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[Ban_ID] [int] IDENTITY(1,1) NOT NULL,
	[SoChoNgoi] [int] NULL,
	[Ghi Chu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ban_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Cate_ID] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiSanPham] [nvarchar](100) NULL,
	[MoTa] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cate_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDonNhap]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDonNhap](
	[CTHDN_ID] [int] IDENTITY(1,1) NOT NULL,
	[HDN_ID] [int] NOT NULL,
	[NL_ID] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[CTHDN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuaHang]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuaHang](
	[CuaHang_ID] [int] IDENTITY(1,1) NOT NULL,
	[TenCuaHang] [nvarchar](150) NOT NULL,
	[DiaChi] [nvarchar](300) NOT NULL,
	[TinhThanh] [nvarchar](80) NULL,
	[QuanHuyen] [nvarchar](80) NULL,
	[PhuongXa] [nvarchar](80) NULL,
	[SoDienThoai] [varchar](20) NULL,
	[GioMoCua] [time](0) NULL,
	[GioDongCua] [time](0) NULL,
	[PathPhoto] [nvarchar](500) NULL,
	[GoogleMapUrl] [nvarchar](700) NULL,
	[Latitude] [decimal](10, 7) NULL,
	[Longitude] [decimal](10, 7) NULL,
	[SapXep] [int] NOT NULL,
	[HienThi] [bit] NOT NULL,
	[Remove] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_CuaHang] PRIMARY KEY CLUSTERED 
(
	[CuaHang_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonNhap]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonNhap](
	[HDN_ID] [int] IDENTITY(1,1) NOT NULL,
	[NCC_ID] [int] NOT NULL,
	[NV_ID] [int] NOT NULL,
	[NgayLapHoaDon] [datetime] NULL,
	[NgayNhanHang] [datetime] NULL,
	[TongSoTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[HDN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[KH_ID] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SoDienThoai] [varchar](15) NULL,
	[TaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[PathPhoto] [nvarchar](100) NULL,
	[Remove] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[KM_ID] [int] IDENTITY(1,1) NOT NULL,
	[TenKhuyenMai] [nvarchar](100) NULL,
	[GiamGia] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[KM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NgayCong]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NgayCong](
	[NC_ID] [int] IDENTITY(1,1) NOT NULL,
	[NgayCong] [date] NULL,
	[CaLam] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[NC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[NCC_ID] [int] NOT NULL,
	[TenNhaCungCap] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[Phone] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[NCC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[NV_ID] [int] IDENTITY(1,1) NOT NULL,
	[TenNhanVien] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](200) NULL,
	[HeSoLuong] [decimal](5, 2) NULL,
	[PathPhoto] [nvarchar](100) NULL,
	[TaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[SoDienThoai] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[NV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NV_NC]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NV_NC](
	[NVNC_ID] [int] IDENTITY(1,1) NOT NULL,
	[NV_ID] [int] NULL,
	[NC_ID] [int] NULL,
	[KiemTra] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NVNC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NV_PQ]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NV_PQ](
	[NV_PQ_ID] [int] IDENTITY(1,1) NOT NULL,
	[NV_ID] [int] NULL,
	[PQ_ID] [int] NULL,
	[MoTa] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[NV_PQ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OnlineOrderInfo]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OnlineOrderInfo](
	[OnlineOrderInfo_ID] [int] IDENTITY(1,1) NOT NULL,
	[DH_ID] [int] NOT NULL,
	[CuaHang_ID] [int] NULL,
	[TrangThaiGiaoHang] [varchar](30) NOT NULL,
	[NguoiNhan] [nvarchar](100) NULL,
	[SoDienThoai] [varchar](20) NULL,
	[TinhThanh] [nvarchar](80) NULL,
	[QuanHuyen] [nvarchar](80) NULL,
	[PhuongXa] [nvarchar](80) NULL,
	[DiaChi] [nvarchar](300) NULL,
	[GhiChuGiaoHang] [nvarchar](300) NULL,
	[PhiGiaoHang] [money] NOT NULL,
	[PhuongThucThanhToan] [varchar](30) NULL,
	[TrangThaiThanhToan] [varchar](30) NULL,
	[NgayDat] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[Remove] [bit] NOT NULL,
 CONSTRAINT [PK_OnlineOrderInfo] PRIMARY KEY CLUSTERED 
(
	[OnlineOrderInfo_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OnlineOrderStatusHistory]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OnlineOrderStatusHistory](
	[History_ID] [int] IDENTITY(1,1) NOT NULL,
	[DH_ID] [int] NOT NULL,
	[TrangThaiCu] [varchar](30) NULL,
	[TrangThaiMoi] [varchar](30) NOT NULL,
	[NV_ID] [int] NULL,
	[GhiChu] [nvarchar](300) NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_OnlineOrderStatusHistory] PRIMARY KEY CLUSTERED 
(
	[History_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[PQ_ID] [int] IDENTITY(1,1) NOT NULL,
	[TenQuyen] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PQ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Product_ID] [int] IDENTITY(1,1) NOT NULL,
	[Cate_ID] [int] NULL,
	[TenSanPham] [nvarchar](100) NULL,
	[MoTa] [nvarchar](500) NULL,
	[GiaTien] [money] NULL,
	[PathPhoto] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductConditions]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductConditions](
	[ProductCondition_ID] [int] IDENTITY(1,1) NOT NULL,
	[Product_ID] [int] NULL,
	[Condition] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductCondition_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thuong]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuong](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[NV_ID] [int] NULL,
	[TenThuong] [nvarchar](100) NULL,
	[TienThuong] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BaiVietChuyenNha] ON 

SET IDENTITY_INSERT [dbo].[BaiVietChuyenNha] OFF
GO
SET IDENTITY_INSERT [dbo].[Ban] ON 

INSERT [dbo].[Ban] ([Ban_ID], [SoChoNgoi], [Ghi Chu]) VALUES (1, 1, N'Tên Khách gọi Đồ: Dung')
INSERT [dbo].[Ban] ([Ban_ID], [SoChoNgoi], [Ghi Chu]) VALUES (2, 10, NULL)
INSERT [dbo].[Ban] ([Ban_ID], [SoChoNgoi], [Ghi Chu]) VALUES (3, 20, NULL)
SET IDENTITY_INSERT [dbo].[Ban] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Cate_ID], [TenLoaiSanPham], [MoTa]) VALUES (1, N'APPETIZERS', NULL)
INSERT [dbo].[Category] ([Cate_ID], [TenLoaiSanPham], [MoTa]) VALUES (2, N'BEST MENU', NULL)
INSERT [dbo].[Category] ([Cate_ID], [TenLoaiSanPham], [MoTa]) VALUES (3, N'TEA', NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] ON 

INSERT [dbo].[ChiTietHoaDon] ([CTHD_ID], [SoLuong], [ThanhTien], [DH_ID], [Product_ID], [Ghichu], [GiamGia]) VALUES (181, 2, 60000.0000, 122, 1, N'Trạng Thái: Nóng Ghi Chú: ', NULL)
INSERT [dbo].[ChiTietHoaDon] ([CTHD_ID], [SoLuong], [ThanhTien], [DH_ID], [Product_ID], [Ghichu], [GiamGia]) VALUES (182, 2, 50000.0000, 123, 6, N'Trạng Thái: Ít đường Ghi Chú: ', NULL)
INSERT [dbo].[ChiTietHoaDon] ([CTHD_ID], [SoLuong], [ThanhTien], [DH_ID], [Product_ID], [Ghichu], [GiamGia]) VALUES (183, 2, 60000.0000, 124, 1, N'Trạng Thái: Nóng Ghi Chú: ', NULL)
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDonNhap] ON 

INSERT [dbo].[ChiTietHoaDonNhap] ([CTHDN_ID], [HDN_ID], [NL_ID], [SoLuong], [ThanhTien]) VALUES (1, 2, 1, 10, 100000.0000)
INSERT [dbo].[ChiTietHoaDonNhap] ([CTHDN_ID], [HDN_ID], [NL_ID], [SoLuong], [ThanhTien]) VALUES (2, 2, 1, 10, 100000.0000)
INSERT [dbo].[ChiTietHoaDonNhap] ([CTHDN_ID], [HDN_ID], [NL_ID], [SoLuong], [ThanhTien]) VALUES (3, 2, 1, 15, 150000.0000)
SET IDENTITY_INSERT [dbo].[ChiTietHoaDonNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[CongThuc] ON 

INSERT [dbo].[CongThuc] ([CT_ID], [Product_ID], [NL_ID], [SoLuong], [GhiChu]) VALUES (1, 2, 1, CAST(5.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[CongThuc] ([CT_ID], [Product_ID], [NL_ID], [SoLuong], [GhiChu]) VALUES (2, 2, 4, CAST(1.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[CongThuc] ([CT_ID], [Product_ID], [NL_ID], [SoLuong], [GhiChu]) VALUES (3, 2, 3, CAST(1.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[CongThuc] OFF
GO
SET IDENTITY_INSERT [dbo].[CuaHang] ON 

INSERT [dbo].[CuaHang] ([CuaHang_ID], [TenCuaHang], [DiaChi], [TinhThanh], [QuanHuyen], [PhuongXa], [SoDienThoai], [GioMoCua], [GioDongCua], [PathPhoto], [GoogleMapUrl], [Latitude], [Longitude], [SapXep], [HienThi], [Remove], [CreatedAt], [UpdatedAt]) VALUES (1, N'Cloudy Café Nguyễn Huệ', N'123 Nguyễn Huệ, Q.1, TP.HCM', N'TP.HCM', N'Q.1', NULL, N'02838234567', CAST(N'07:00:00' AS Time), CAST(N'22:00:00' AS Time), N'https://images.unsplash.com/photo-1554118811-1e0d58224f24?w=400', N'https://maps.google.com', NULL, NULL, 1, 1, 0, CAST(N'2026-05-02T11:51:01.040' AS DateTime), NULL)
INSERT [dbo].[CuaHang] ([CuaHang_ID], [TenCuaHang], [DiaChi], [TinhThanh], [QuanHuyen], [PhuongXa], [SoDienThoai], [GioMoCua], [GioDongCua], [PathPhoto], [GoogleMapUrl], [Latitude], [Longitude], [SapXep], [HienThi], [Remove], [CreatedAt], [UpdatedAt]) VALUES (2, N'Cloudy Café Lê Lợi', N'456 Lê Lợi, Q.1, TP.HCM', N'TP.HCM', N'Q.1', NULL, N'02838256789', CAST(N'06:30:00' AS Time), CAST(N'23:00:00' AS Time), N'https://images.unsplash.com/photo-1559925393-8be0ec4767c8?w=400', N'https://maps.google.com', NULL, NULL, 2, 1, 0, CAST(N'2026-05-02T11:51:01.040' AS DateTime), NULL)
INSERT [dbo].[CuaHang] ([CuaHang_ID], [TenCuaHang], [DiaChi], [TinhThanh], [QuanHuyen], [PhuongXa], [SoDienThoai], [GioMoCua], [GioDongCua], [PathPhoto], [GoogleMapUrl], [Latitude], [Longitude], [SapXep], [HienThi], [Remove], [CreatedAt], [UpdatedAt]) VALUES (3, N'Cloudy Café Vincom Center', N'72 Lê Thánh Tôn, Q.1, TP.HCM', N'TP.HCM', N'Q.1', NULL, N'02839369999', CAST(N'08:00:00' AS Time), CAST(N'22:00:00' AS Time), N'https://images.unsplash.com/photo-1511920170033-f8396924c348?w=400', N'https://maps.google.com', NULL, NULL, 3, 1, 0, CAST(N'2026-05-02T11:51:01.040' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[CuaHang] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([DH_ID], [KH_ID], [Ban_ID], [KM_ID], [GioVao], [GioRa], [TongTien], [NV_ID], [GhiChu], [TrangThai], [VanChuyen]) VALUES (2, 2, NULL, NULL, CAST(N'2024-12-10T05:08:40.000' AS DateTime), CAST(N'2024-12-10T05:30:00.000' AS DateTime), 10000.0000, 1, NULL, 1, 1)
INSERT [dbo].[DonHang] ([DH_ID], [KH_ID], [Ban_ID], [KM_ID], [GioVao], [GioRa], [TongTien], [NV_ID], [GhiChu], [TrangThai], [VanChuyen]) VALUES (3, 2, NULL, NULL, CAST(N'2022-12-10T01:18:20.000' AS DateTime), CAST(N'2022-12-10T05:30:00.000' AS DateTime), 90000.0000, 1, NULL, 1, 0)
INSERT [dbo].[DonHang] ([DH_ID], [KH_ID], [Ban_ID], [KM_ID], [GioVao], [GioRa], [TongTien], [NV_ID], [GhiChu], [TrangThai], [VanChuyen]) VALUES (4, 3, NULL, NULL, CAST(N'2022-12-10T01:08:51.000' AS DateTime), CAST(N'2022-12-10T03:30:00.000' AS DateTime), 0.0000, 3, NULL, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDonNhap] ON 

INSERT [dbo].[HoaDonNhap] ([HDN_ID], [NCC_ID], [NV_ID], [NgayLapHoaDon], [NgayNhanHang], [TongSoTien]) VALUES (2, 1, 1, CAST(N'2024-12-10T00:00:00.000' AS DateTime), CAST(N'2024-12-20T00:00:00.000' AS DateTime), 500000.0000)
INSERT [dbo].[HoaDonNhap] ([HDN_ID], [NCC_ID], [NV_ID], [NgayLapHoaDon], [NgayNhanHang], [TongSoTien]) VALUES (3, 1, 1, CAST(N'2024-12-10T00:00:00.000' AS DateTime), CAST(N'2024-12-20T00:00:00.000' AS DateTime), 0.0000)
SET IDENTITY_INSERT [dbo].[HoaDonNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([KH_ID], [TenKhachHang], [DiaChi], [SoDienThoai], [TaiKhoan], [MatKhau], [PathPhoto], [Remove]) VALUES (2, N'Trương Quảng Đông', N'Số 3, Ngõ 20 Hoàng Cầu', N'0987598714', N'001', N'001', N'/asset/img/imgWeb/anh1.jpg', 0)
INSERT [dbo].[KhachHang] ([KH_ID], [TenKhachHang], [DiaChi], [SoDienThoai], [TaiKhoan], [MatKhau], [PathPhoto], [Remove]) VALUES (3, N'Nguyễn Đức Dũng', N'Số nhà 22A, Ngõ 105 Đường Láng', N'032765421', N'002', N'002', N'/asset/img/imgWeb/anh2.jpg', 0)
INSERT [dbo].[KhachHang] ([KH_ID], [TenKhachHang], [DiaChi], [SoDienThoai], [TaiKhoan], [MatKhau], [PathPhoto], [Remove]) VALUES (5, N'Đỗ Văn A', N'Số nhà 22B, đường Cầu Giấy', N'092646798', N'003', N'003', N'/asset/img/imgWeb/anh3.jpg', 0)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[NgayCong] ON 

INSERT [dbo].[NgayCong] ([NC_ID], [NgayCong], [CaLam]) VALUES (1, CAST(N'2024-10-01' AS Date), N'Ca Sáng')
INSERT [dbo].[NgayCong] ([NC_ID], [NgayCong], [CaLam]) VALUES (2, CAST(N'2024-10-02' AS Date), N'Ca Chiều')
INSERT [dbo].[NgayCong] ([NC_ID], [NgayCong], [CaLam]) VALUES (3, CAST(N'2024-10-03' AS Date), N'Ca Sáng')
SET IDENTITY_INSERT [dbo].[NgayCong] OFF
GO
SET IDENTITY_INSERT [dbo].[NguyenLieu] ON 

INSERT [dbo].[NguyenLieu] ([NL_ID], [TenNguyenLieu], [GiaTien]) VALUES (1, N'Gạo', 10000.0000)
INSERT [dbo].[NguyenLieu] ([NL_ID], [TenNguyenLieu], [GiaTien]) VALUES (2, N'Rau muống', 10000.0000)
INSERT [dbo].[NguyenLieu] ([NL_ID], [TenNguyenLieu], [GiaTien]) VALUES (3, N'Thịt Bò ', 50000.0000)
SET IDENTITY_INSERT [dbo].[NguyenLieu] OFF
GO
INSERT [dbo].[NhaCungCap] ([NCC_ID], [TenNhaCungCap], [DiaChi], [Phone]) VALUES (1, N'Bách Hóa Xanh', N'23 Nghĩa Tân, Cầu Giấy , Hà Nội', N'0988738565')
INSERT [dbo].[NhaCungCap] ([NCC_ID], [TenNhaCungCap], [DiaChi], [Phone]) VALUES (2, N'Cung Cấp Cafr', N'385 Hoàng Quốc Việt, cầu Giấyi', N'0961848526')
INSERT [dbo].[NhaCungCap] ([NCC_ID], [TenNhaCungCap], [DiaChi], [Phone]) VALUES (3, N'Cung Cấp Trè', N'311 Chùa Láng , Đốn Đa , Hà Nội', N'19001212')
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([NV_ID], [TenNhanVien], [NgaySinh], [DiaChi], [HeSoLuong], [PathPhoto], [TaiKhoan], [MatKhau], [GioiTinh], [SoDienThoai]) VALUES (1, N'Admin', NULL, NULL, NULL, NULL, N'admin', N'admin', NULL, NULL)
INSERT [dbo].[NhanVien] ([NV_ID], [TenNhanVien], [NgaySinh], [DiaChi], [HeSoLuong], [PathPhoto], [TaiKhoan], [MatKhau], [GioiTinh], [SoDienThoai]) VALUES (3, N'Hoàng Văn Thi', CAST(N'2003-02-02' AS Date), N'Bắc Giang', CAST(1.30 AS Decimal(5, 2)), N'/asset/img/imgWeb/anh1.jpg', N'006', N'002', N'Nam', N'0987654321')
INSERT [dbo].[NhanVien] ([NV_ID], [TenNhanVien], [NgaySinh], [DiaChi], [HeSoLuong], [PathPhoto], [TaiKhoan], [MatKhau], [GioiTinh], [SoDienThoai]) VALUES (5, N'Trịnh Văn Quyết', CAST(N'2001-10-01' AS Date), N'Hòa Bình', CAST(1.50 AS Decimal(5, 2)), N'/asset/img/imgWeb/anh2.jpg', N'003', N'003', N'Nam', N'0912345678')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[NV_NC] ON 

INSERT [dbo].[NV_NC] ([NVNC_ID], [NV_ID], [NC_ID], [KiemTra]) VALUES (1, 3, 1, 1)
INSERT [dbo].[NV_NC] ([NVNC_ID], [NV_ID], [NC_ID], [KiemTra]) VALUES (2, 3, 2, 1)
INSERT [dbo].[NV_NC] ([NVNC_ID], [NV_ID], [NC_ID], [KiemTra]) VALUES (3, 3, 3, 1)
SET IDENTITY_INSERT [dbo].[NV_NC] OFF
GO
SET IDENTITY_INSERT [dbo].[NV_PQ] ON 

INSERT [dbo].[NV_PQ] ([NV_PQ_ID], [NV_ID], [PQ_ID], [MoTa]) VALUES (1, 1, 1, N'Admin quy?n admin')
INSERT [dbo].[NV_PQ] ([NV_PQ_ID], [NV_ID], [PQ_ID], [MoTa]) VALUES (2, 3, 2, N'Nhân viên quy?n nhân viên')
INSERT [dbo].[NV_PQ] ([NV_PQ_ID], [NV_ID], [PQ_ID], [MoTa]) VALUES (3, 5, 2, N'Nhân viên quy?n nhân viên')
SET IDENTITY_INSERT [dbo].[NV_PQ] OFF
GO
SET IDENTITY_INSERT [dbo].[PhanQuyen] ON 

INSERT [dbo].[PhanQuyen] ([PQ_ID], [TenQuyen]) VALUES (1, N'Admin')
INSERT [dbo].[PhanQuyen] ([PQ_ID], [TenQuyen]) VALUES (2, N'Nhan vien')
INSERT [dbo].[PhanQuyen] ([PQ_ID], [TenQuyen]) VALUES (3, N'Quan Lý')
SET IDENTITY_INSERT [dbo].[PhanQuyen] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Product_ID], [Cate_ID], [TenSanPham], [MoTa], [GiaTien], [PathPhoto]) VALUES (1, 1, N'EDAMAME', N'Đậu nành non hấp, rắc muối biển.', 60000.0000, N'/asset/img/imgWeb/aftycffd.brj.png')
INSERT [dbo].[Product] ([Product_ID], [Cate_ID], [TenSanPham], [MoTa], [GiaTien], [PathPhoto]) VALUES (2, 2, N'SÚP MISO', N'Món súp truyền thống được nấu từ tương đậu nành lên men.', 35000.0000, N'/asset/img/imgWeb/7c747b45d8e042a3abc041bef3f5aefd.png')
INSERT [dbo].[Product] ([Product_ID], [Cate_ID], [TenSanPham], [MoTa], [GiaTien], [PathPhoto]) VALUES (3, 3, N'Trà đào cam sả', N'Trá đào cam sả kết hợp giữa vị ngọt của đào, vị chua của cam và hương thơm của sả, tạo cảm giác thanh mát.', 35000.0000, N'/asset/img/imgWeb/Tradaocamsa.jpg')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductConditions] ON 

INSERT [dbo].[ProductConditions] ([ProductCondition_ID], [Product_ID], [Condition]) VALUES (1, 1, N'Đá')
INSERT [dbo].[ProductConditions] ([ProductCondition_ID], [Product_ID], [Condition]) VALUES (2, 1, N'Nóng')
INSERT [dbo].[ProductConditions] ([ProductCondition_ID], [Product_ID], [Condition]) VALUES (3, 2, N'Ít đá')
SET IDENTITY_INSERT [dbo].[ProductConditions] OFF
GO
SET IDENTITY_INSERT [dbo].[Thuong] ON 

INSERT [dbo].[Thuong] ([T_ID], [NV_ID], [TenThuong], [TienThuong]) VALUES (1, 1, N'Thu?ng nang su?t', 500000.0000)
INSERT [dbo].[Thuong] ([T_ID], [NV_ID], [TenThuong], [TienThuong]) VALUES (2, 1, N'Thu?ng tháng', 300000.0000)
INSERT [dbo].[Thuong] ([T_ID], [NV_ID], [TenThuong], [TienThuong]) VALUES (3, 1, N'Thu?ng nam', 1000000.0000)
SET IDENTITY_INSERT [dbo].[Thuong] OFF
GO
/****** Object:  Index [IX_BaiVietChuyenNha_HienThi_Remove_SapXep]    Script Date: 5/4/2026 10:34:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_BaiVietChuyenNha_HienThi_Remove_SapXep] ON [dbo].[BaiVietChuyenNha]
(
	[HienThi] ASC,
	[Remove] ASC,
	[SapXep] ASC
)
WHERE ([Remove]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CuaHang_HienThi_Remove_SapXep]    Script Date: 5/4/2026 10:34:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_CuaHang_HienThi_Remove_SapXep] ON [dbo].[CuaHang]
(
	[HienThi] ASC,
	[Remove] ASC,
	[SapXep] ASC
)
WHERE ([Remove]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_OnlineOrderInfo_DH_ID]    Script Date: 5/4/2026 10:34:15 PM ******/
ALTER TABLE [dbo].[OnlineOrderInfo] ADD  CONSTRAINT [UQ_OnlineOrderInfo_DH_ID] UNIQUE NONCLUSTERED 
(
	[DH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OnlineOrderInfo_TrangThaiGiaoHang]    Script Date: 5/4/2026 10:34:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_OnlineOrderInfo_TrangThaiGiaoHang] ON [dbo].[OnlineOrderInfo]
(
	[TrangThaiGiaoHang] ASC,
	[Remove] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaiVietChuyenNha] ADD  CONSTRAINT [DF_BaiVietChuyenNha_NgayDang]  DEFAULT (getdate()) FOR [NgayDang]
GO
ALTER TABLE [dbo].[BaiVietChuyenNha] ADD  CONSTRAINT [DF_BaiVietChuyenNha_NoiBat]  DEFAULT ((0)) FOR [NoiBat]
GO
ALTER TABLE [dbo].[BaiVietChuyenNha] ADD  CONSTRAINT [DF_BaiVietChuyenNha_SapXep]  DEFAULT ((0)) FOR [SapXep]
GO
ALTER TABLE [dbo].[BaiVietChuyenNha] ADD  CONSTRAINT [DF_BaiVietChuyenNha_HienThi]  DEFAULT ((1)) FOR [HienThi]
GO
ALTER TABLE [dbo].[BaiVietChuyenNha] ADD  CONSTRAINT [DF_BaiVietChuyenNha_Remove]  DEFAULT ((0)) FOR [Remove]
GO
ALTER TABLE [dbo].[BaiVietChuyenNha] ADD  CONSTRAINT [DF_BaiVietChuyenNha_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CuaHang] ADD  CONSTRAINT [DF_CuaHang_SapXep]  DEFAULT ((0)) FOR [SapXep]
GO
ALTER TABLE [dbo].[CuaHang] ADD  CONSTRAINT [DF_CuaHang_HienThi]  DEFAULT ((1)) FOR [HienThi]
GO
ALTER TABLE [dbo].[CuaHang] ADD  CONSTRAINT [DF_CuaHang_Remove]  DEFAULT ((0)) FOR [Remove]
GO
ALTER TABLE [dbo].[CuaHang] ADD  CONSTRAINT [DF_CuaHang_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [VanChuyen]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [DF_KhachHang_Remove]  DEFAULT ((0)) FOR [Remove]
GO
ALTER TABLE [dbo].[OnlineOrderInfo] ADD  CONSTRAINT [DF_OnlineOrderInfo_TrangThai]  DEFAULT ('cart') FOR [TrangThaiGiaoHang]
GO
ALTER TABLE [dbo].[OnlineOrderInfo] ADD  CONSTRAINT [DF_OnlineOrderInfo_PhiGiaoHang]  DEFAULT ((0)) FOR [PhiGiaoHang]
GO
ALTER TABLE [dbo].[OnlineOrderInfo] ADD  CONSTRAINT [DF_OnlineOrderInfo_Remove]  DEFAULT ((0)) FOR [Remove]
GO
ALTER TABLE [dbo].[OnlineOrderStatusHistory] ADD  CONSTRAINT [DF_OnlineOrderStatusHistory_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_DH_ID] FOREIGN KEY([DH_ID])
REFERENCES [dbo].[DonHang] ([DH_ID])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_DonHang_DH_ID]
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap]  WITH CHECK ADD FOREIGN KEY([HDN_ID])
REFERENCES [dbo].[HoaDonNhap] ([HDN_ID])
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap]  WITH CHECK ADD FOREIGN KEY([NL_ID])
REFERENCES [dbo].[NguyenLieu] ([NL_ID])
GO
ALTER TABLE [dbo].[CongThuc]  WITH CHECK ADD FOREIGN KEY([NL_ID])
REFERENCES [dbo].[NguyenLieu] ([NL_ID])
GO
ALTER TABLE [dbo].[CongThuc]  WITH CHECK ADD FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([Ban_ID])
REFERENCES [dbo].[Ban] ([Ban_ID])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([KH_ID])
REFERENCES [dbo].[KhachHang] ([KH_ID])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([KM_ID])
REFERENCES [dbo].[KhuyenMai] ([KM_ID])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([NV_ID])
REFERENCES [dbo].[NhanVien] ([NV_ID])
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD FOREIGN KEY([NCC_ID])
REFERENCES [dbo].[NhaCungCap] ([NCC_ID])
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD FOREIGN KEY([NV_ID])
REFERENCES [dbo].[NhanVien] ([NV_ID])
GO
ALTER TABLE [dbo].[NV_NC]  WITH CHECK ADD  CONSTRAINT [FK_NV_NC_NgayCong] FOREIGN KEY([NC_ID])
REFERENCES [dbo].[NgayCong] ([NC_ID])
GO
ALTER TABLE [dbo].[NV_NC] CHECK CONSTRAINT [FK_NV_NC_NgayCong]
GO
ALTER TABLE [dbo].[NV_NC]  WITH CHECK ADD  CONSTRAINT [FK_NV_NC_NhanVien] FOREIGN KEY([NV_ID])
REFERENCES [dbo].[NhanVien] ([NV_ID])
GO
ALTER TABLE [dbo].[NV_NC] CHECK CONSTRAINT [FK_NV_NC_NhanVien]
GO
ALTER TABLE [dbo].[NV_PQ]  WITH CHECK ADD FOREIGN KEY([NV_ID])
REFERENCES [dbo].[NhanVien] ([NV_ID])
GO
ALTER TABLE [dbo].[NV_PQ]  WITH CHECK ADD FOREIGN KEY([PQ_ID])
REFERENCES [dbo].[PhanQuyen] ([PQ_ID])
GO
ALTER TABLE [dbo].[OnlineOrderInfo]  WITH CHECK ADD  CONSTRAINT [FK_OnlineOrderInfo_CuaHang] FOREIGN KEY([CuaHang_ID])
REFERENCES [dbo].[CuaHang] ([CuaHang_ID])
GO
ALTER TABLE [dbo].[OnlineOrderInfo] CHECK CONSTRAINT [FK_OnlineOrderInfo_CuaHang]
GO
ALTER TABLE [dbo].[OnlineOrderInfo]  WITH CHECK ADD  CONSTRAINT [FK_OnlineOrderInfo_DonHang] FOREIGN KEY([DH_ID])
REFERENCES [dbo].[DonHang] ([DH_ID])
GO
ALTER TABLE [dbo].[OnlineOrderInfo] CHECK CONSTRAINT [FK_OnlineOrderInfo_DonHang]
GO
ALTER TABLE [dbo].[OnlineOrderStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_OnlineOrderStatusHistory_DonHang] FOREIGN KEY([DH_ID])
REFERENCES [dbo].[DonHang] ([DH_ID])
GO
ALTER TABLE [dbo].[OnlineOrderStatusHistory] CHECK CONSTRAINT [FK_OnlineOrderStatusHistory_DonHang]
GO
ALTER TABLE [dbo].[OnlineOrderStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_OnlineOrderStatusHistory_NhanVien] FOREIGN KEY([NV_ID])
REFERENCES [dbo].[NhanVien] ([NV_ID])
GO
ALTER TABLE [dbo].[OnlineOrderStatusHistory] CHECK CONSTRAINT [FK_OnlineOrderStatusHistory_NhanVien]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([Cate_ID])
REFERENCES [dbo].[Category] ([Cate_ID])
GO
ALTER TABLE [dbo].[ProductConditions]  WITH CHECK ADD  CONSTRAINT [FK_ProductCondition_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductConditions] CHECK CONSTRAINT [FK_ProductCondition_Product]
GO
ALTER TABLE [dbo].[Thuong]  WITH CHECK ADD FOREIGN KEY([NV_ID])
REFERENCES [dbo].[NhanVien] ([NV_ID])
GO
ALTER TABLE [dbo].[OnlineOrderInfo]  WITH CHECK ADD  CONSTRAINT [CK_OnlineOrderInfo_TrangThaiGiaoHang] CHECK  (([TrangThaiGiaoHang]='cancelled' OR [TrangThaiGiaoHang]='delivered' OR [TrangThaiGiaoHang]='shipping' OR [TrangThaiGiaoHang]='preparing' OR [TrangThaiGiaoHang]='pending' OR [TrangThaiGiaoHang]='cart'))
GO
ALTER TABLE [dbo].[OnlineOrderInfo] CHECK CONSTRAINT [CK_OnlineOrderInfo_TrangThaiGiaoHang]
GO
/****** Object:  StoredProcedure [dbo].[cau2]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[cau2]
@NVID int, @thang int, @nam int
as
	 
	select HeSoLuong * 200000 * COUNT(NV_NC.NV_ID)
	from NhanVien
	inner join NV_NC on NhanVien.NV_ID = NV_NC.NV_ID
	inner join NgayCong on NV_NC.NC_ID = NgayCong.NC_ID
	where @NVID = NhanVien.NV_ID and @thang = MONTH(NgayCong) and @nam = YEAR(NgayCong)
	group by NhanVien.HeSoLuong
GO
/****** Object:  StoredProcedure [dbo].[cau8]    Script Date: 5/4/2026 10:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[cau8]
	@NVID int,
	@thang int,
	@nam int
as
	begin
	select *
	from HoaDonNhap
	where @NVID = HoaDonNhap.NV_ID and @thang = MONTH(NgayNhanHang) and @nam = YEAR(NgayNhanHang)
	end
GO
USE [master]
GO
