@model WebQuanLyNhaHang.Models.NhanVien

<a href="#!" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
   class="dropdown-toggle drop icon-circle drop-image">
    <span>
        <img class="img-circle " src="@Model.PathPhoto" style="width: 44px;
    height: 40px;"
             alt="User Image">
    </span>
    <span>@Model.TenNhanVien <i class=" icofont icofont-simple-down"></i></span>

</a>