@model List<WebQuanLyNhaHang.Models.Category>

    @foreach(var category in Model)
    {
    <div onclick="scrollToCategory(@category.CateId)" class="category-item">@category.TenLoaiSanPham</div>
    }
     