@model int

@if (Model != 0)
{
    <div class="app__menu">
        <a asp-controller="Home" asp-action="Cart" asp-route-DhId="DhId">
            <div class="foodter">
                <div class="foodter__icon-left foodter__icon">
                    <i class="fa-solid fa-cart-plus"></i>
                </div>
                <div class="foodter__content">Xem giỏ hàng(@Model món)</div>
                <div class="foodter__icon-right foodter__icon">
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
        </a>
    </div>
}